@use "page.scss";

p {
    font-weight: bold;
}

#transmission {
    h1 {
        font-size: 1.5em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.2em;
        font-weight: bold;
    }
    .pf-v5-u-w-100 {
        width: 100% !important;
    }
    .pf-v5-c-progress__status {
        display: none !important;
    }
    .progress-layer {
        margin-top: 0;
        background: transparent;

        .pf-v5-c-progress__bar {
            background: transparent;
        }
    }
    .separator {
        margin-bottom: 1em;
        margin-top: 1em;
        background-color: #e3e3e3 !important;
        height: 1px !important;
    }
}