@use "page.scss";

p {
    font-weight: bold;
}

#transmission {
    h1 {
        font-size: 1.5em;
        font-weight: bold;
    }
    h2 {
        font-size: 1.2em;
        font-weight: bold;

        &.torrent-title {
            padding-top: 4px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: calc(100% - 2.5em);
            display: inline-block;
        }
    }
    .pf-v5-u-w-100 {
        width: 100% !important;
    }
    .pf-v5-c-progress__status {
        display: none !important;
    }
    .progress-layer {
        margin-top: 0;
        background: transparent;

        .pf-v5-c-progress__bar {
            background: transparent;
        }
    }
    .pf-v5-c-icon {
        margin-right: .5em;
    }
    .pf-m-align-right {
        float: right;
    }
    .separator {
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 1em;
        border-bottom: 1px solid #e3e3e3 !important;

        &.stopped {
            background-color: #f1f1f1;
            color: #939393;

            .pf-v5-c-progress__indicator {
                background-color: #0000FF01;
            }

            .pf-m-info {
                color: rgba(0, 102, 204, 0.409);
            }
            .pf-m-success {
                .pf-v5-c-progress__indicator {
                    background-color: #00ffff1a;
                }
            }

            .pf-m-success {
                color: #3e86355d;
            }

        }
    }
    .error {
        color: red;
    }
}